html, body {
    /*background-color: #9c2e38;*/
    color: #000000;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

#bg-image {
	/*background-image: url('../images/logo.png');*/
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-size: cover;
	background-position: center; 
	background-color: #800000;
	height: 100vh;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #9c2e38;
  color:  white;
  overflow-x: hidden;
  padding-top: 20px;
}

.logo {
	width: 150px;
	height: 120px;
	/*background-color: lightyellow;*/
	margin: auto;
}

.logo > img {
	width: 150px;
	height: 100px;
}
.info-name {
	 padding: 6px 8px 6px 16px;
	 color: 000;


}
/*ul {
	padding-left: 0;
}

ul > li {
	list-style-type: none;
	background-color: lightblue;
	margin-bottom: 2px;
	line-height: 48px;
	text-align: center; 
}

ul > li > a {
	text-decoration: none;
}
*/

.login-box {
  border: 1px solid lightgrey;
  padding: 10px;
}


#home {
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

#card {
	background: #ffff;
}

#intro {
	line-height: 3em;
}

.bold {
	font-weight: bold;
}

@media only screen and (max-width: 1000px) {
  #home {
		background:#ccc ;
		background-size: auto auto;
		background-repeat: initial;
		height: auto;
  }
}